html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        link(rel="shortcut icon", href="favicon.png")
        title BotLogMonitor
        style
            include auth.css
    body
        .main
            .big-one README
            .md-text
                include:markdown-it ../README.md
        
        script
            include auth.js