html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        link(rel="shortcut icon", href="favicon.png")
        title BotLogMonitor
        style
            include auth.css
    body
        .center
            .what#what ???
        
        script
            include auth.js