body {
    margin: 0;
    background: #242729;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 25px;
    color : #f3f3f3;
}

p{
    color : #b6b6b6;
    margin-bottom: 50px;
}


.max {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.button {
    text-align: center;
    margin: auto;
    width: 300px;
    line-height: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ccdddd;
    color: #ccdddd;
    user-select: none;


    cursor: pointer;

    display: inline-block;
}

.header .button {
    width: 150px;
    margin-right: 10px;
}

.button-active {
    border: 1px solid #a4afaf;
    background: #a4afaf;
    color: #111111;

    display: inline-block;

    text-align: center;
    margin: auto;
    width: 150px;
    line-height: 40px;
    height: 40px;
    border-radius: 3px;
    user-select: none;
}

.header {
    padding-top: 40px;
    margin: auto; 

    width: 800px;
}

.button:hover {
    border: 1px solid #a4afaf;
    color: #a4afaf;
}




.button:active {

    transition: 0s;

    border: 1px solid #a4afaf;
    background: #a4afaf;
    color: #111111;
}

.main {
    padding: 50px 20px 0 20px;
    color: #f3f3f3;
    margin: auto;
    width: 800px;
}

.main p {
    margin-top: 0;
}

.main h1 {
    margin-bottom: 0;
}


input {
    padding: 8px 10px 8px 10px;
    border: 1px solid #ccdddd;
    background: transparent;
    color: #d3d3d3;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 16px;
    margin-right: 10px;

    outline: none;
}


textarea {
    background: #1c1f22;
    min-width: 780px;
    max-width: 780px;
    height: 150px;
    color: #f3f3f3;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;

    padding: 10px;


    border: 1px solid #525252;
    outline: none;

    display: none;
}

.load-progress-panel {
    height: 1px;
    border-top: 1px solid #414141;

    position: relative;
}

.load-progress-line {
    position: absolute;
    top: -1;
    left: 0;
    border-top: 1px solid #44b2c0;

    transition: 0.2s cubic-bezier(.33,.57,.47,.98);

    width: 0px;
}

.load-progress-time {
    margin-bottom: 10px;
    font-size: 18px;
    color: #6d6d6d
}

.monitor-date-list {
    margin-top: 20px;
}

.link-data-box {
    border: 1px solid #535353;
    border-radius: 3px;
    margin-top: 10px;
}

.link-title {
    overflow: hidden;
    border-bottom: 1px solid #363636;
}

.link-info {
    min-height: 20px;
}

.link-data {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #363636;

    background: #2e3535;
    
}

.link-content {
    display: inline-block;
    padding: 10px;
}

a {
    color: #c7c7c7;
    text-decoration: none;
}

.link-info {
    padding: 20px 10px 20px 10px;
}

.file-info {
    color: #8f8f8f; 
}

.file-info span {
    color: #dcf3f3;
}

.file-info td span {
    padding: 0 20px 0 20px;
}

.red {
    color: #d85959 ! important;
}

.main {
    padding-bottom: 200px;
}

.button-panel {
    display: flex;
    justify-content : space-around;

    margin-bottom: 10px;
    margin-top: 20px;
}

.button-panel .button {
    width: 390px;
}

.footer {
    width: 100%;
    text-align: center;
    color: #b6b6b6;
    line-height: 50px;
    height: 80px;

    font-weight: 300;
    user-select: none;

    transition: 0.2s;
    cursor: pointer;
}

.footer:hover {
    color: #3bcfd4;
}

.footer p {
    color: #a1a1a1;
    height: 14px;
    line-height: 14px;
    font-size: 14px;

    margin-bottom: 0;
    margin-top: -14px;
}

.button[loading] {
    border: 1px solid #44b2c0;
    color: #44b2c0;

    cursor : default;
}


.button[loading]:hover {
    border: 1px solid #44b2c0;
    color: #44b2c0;

    cursor : default;
}

.button[loading]:active {
    border: 1px solid #44b2c0;
    color: #44b2c0;

    background: transparent;

    cursor : default;
}

.main {
    min-height: 800px;
}