html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        link(rel="shortcut icon", href="favicon.png")
        title BotLogMonitor
        style
            include behavior.css
    body
        .main 
            h1 BEHAVIOR PAGE
            p
                | Страница, где можно настроить поведение бота и ответы на заданные команды

            .time-table-counstructor
                .left-side-constructor 
                    .left-side-header Конструктор
                    input#tthead(type="text", name="tthead")
                    input#(type="text", name="")




        script
            include behavior.js