html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        link(rel="shortcut icon", href="favicon.png")
        title Statistics
        style
            include statistic.css
    body

        .center
            h1 Статистика ItmmBot 
            p Статистика использования бота за 2019-2020 годы. Данные собираются <b>анонимно</b>, но мы могли бы и не <b>анонимно</b>. Нам <b>похуй</b> <i>абсолютно</i>, ведь вы все равно пишите нам в вк и мы все про вас знаем.
                |  Да и вообще нехуй тут. Никто не говорил, что мы не сольем все ваши приватные данные при первой возможности. 
                |  Заметили как я крашу текст? <b>Я</b> <i>кстати</i> <u>еще</u> <b><i><u>могу</u></i></b> <strike>вот так</strike> 
        
            .graphs
                .pie-chart#pie
                .line-chart#line

            h2 Анализ статистики

            ol
                li Как мы видим, преобладают запросы <b>Сегодня</b>
                li Вторым по популяроности оказался звпрос <b>Завтра</b>
                li На самом деле я в рот не ебу, что пишу сюда
                li Ведь я еще не видел статистику

            p Пишите свои предложения по новой статистики в директ. 
                | Я обязательно положу на них хуй и не прочитаю

            p Вы когда-нибудь задумывались как же блять сложно подобрать раскраску к графикам? 
                | Это пиздец! Мало того, что я должен выбрать 15 подходящих друг-другу цветов, так их еще надо перепечатать и потом окажется, что нихуя они друг к другу не подходят.

            p Кстати сейчас цвета дефолтные. Если не нравится - сосите жопу. Скиньте мне нормальную палитру, потом поговорим
            P Еще интересный факт. В хроме переделали крутилку на среднюю кнопку. Теперь при помощи нее можно сломать сайт нахуй. Попробуйте!

            p Последний факт на сегодня. Это последний апдейт этого бота. Мб буедт еще пару миноров с фиксами (а еще мб я все-таки сделаю нормальную статистку), но на этом все. Жми <b>F</b>.

            p Если понравилось идти нахуй, то ставь класс, если нет - то иди нахуй

            .button.lukas Лукас
            .button.ne-lukas Дизлукас
            .button.sovsem-ne-lukas Сам иди нахуй

            <!-- че ты блять сюда пялишься? -->

        
        script
            |   let stat = !{val};
            include statistic.js